---
title: Card
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="container-fluid product pt-3">
    <div class="row">

      <div class="d-none d-lg-block col-lg-1 product__thumbs">
        <div class="sticky">
          <img src="img/thumb1.png" alt="">
          <img src="img/thumb2.png" alt="">
          <img src="img/thumb3.png" alt="">
          <img src="img/thumb4.png" alt="">
        </div>
      </div>

      <div class="col-md-6 col-lg-7 product__images p-0 px-md-3">
        <div class="d-md-none product__images-count js-count"></div>
        <div class="slider">
          <img src="img/product1.png" alt="">
          <img src="img/product2.png" alt="">
          <img src="img/product3.png" alt="">
          <img src="img/product4.png" alt="">
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="sticky">
          <div class="product__title">Shopper Trape Shape Camel</div>
          <div class="py-1 product__price">$ 194</div>
          <div class="py-3 product__description">Сумка Sugar-bowl с ассиметричным креплением</div>
          <div class="product__features">
            <ul>
              <li>- Состав: натуральная кожа (Италия)</li>
              <li>- Цвет кожи: светло-коричневый (текстура крокодил)</li>
              <li>- Цвет фурнитуры: стальной</li>
              <li>- Размеры: 16 х 20,5 х 11 см</li>
              <li>- В комплекте две ручки: короткая из принтованной кожи</li>
              <li>- 52 см; длинная - 120 см (регулируетсяv</li>
            </ul>
          </div>
          <div class="product__variants pb-3">
            <div>Колір:</div><br>
            <div class="variant"><span style="background-color:#d8d8d8"></span></div>
            <div class="variant is-current"><span style="background-color:#484848"></span></div>
            <div class="variant"><span style="background-color:#C67934"></span></div>

            <!-- <div class="variant" style="background-color:#484848"></div>
            <div class="variant" style="background-color:#C67934"></div> -->
          </div>
          <div class="product__buy">
            <div>Кількість:</div><br>
            <span class="stepper">
                <input type="button" class="minus" value="-" />
                <input class="qty" type="text" value="1" />
                <input type="button" class="plus" value="+" />
            </span>
            <input type="button" class="button" value="додати у кошик">
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container-fluid py-5 related">
    <div class="row">
      <div class="col-12 p-3 text-center text-md-left">Схожі товары:</div>
      {% for i in range(0, 3) -%}
        <div class="col-md-4 px-5 py-2 p-md-3">
          <a href="#" class="text-center pb-4 card">
            <div class="card__image embed-responsive embed-responsive-1by1">
              <img src="img/item3.png" alt="image" class="embed-responsive-item">
            </div>
            <div class="my-3 px-3 card__title">Sugar-Bowl Brown Croco</div>
            <div class="card__price">$ 125</div>
          </a>
        </div>
      {%- endfor %}
    </div>
  </div>

{% endblock %}
