---
title: Main
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="embed-responsive embed-responsive-21by9 banner banner__top">
  <img src="img/top-banner.png" class="embed-responsive-item">
  <a href="#">New bags SS 2019 are avaliable</a>
</div>

<div class="container-fluid py-4 py-lg-5 main">
  <div class="row">
    <div class="col-md-6 px-2 py-1 py-md-2"><a href="#" class="embed-responsive embed-responsive-1by1"><img src="img/main1.png" class="embed-responsive-item"><div class="main__text">COLLECTIONS</div></a></div>
    <div class="col-md-6 px-2 py-1 py-md-2"><a href="#" class="embed-responsive embed-responsive-1by1"><img src="img/main2.png" class="embed-responsive-item"><div class="main__text">BAGS</div></a></div>
    <div class="col-md-6 px-2 py-1 py-md-2"><a href="#" class="embed-responsive embed-responsive-1by1"><img src="img/main3.png" class="embed-responsive-item" ><div class="main__text">ACCESSORIES</div></a></div>
    <div class="col-md-6 px-2 py-1 py-md-2"><a href="#" class="embed-responsive embed-responsive-1by1"><img src="img/main4.png" class="embed-responsive-item"><div class="main__text">SALES</div></a></div>
  </div>
</div>

{% include "partials/_sert.html" %}

{% endblock %}
