<footer class="footer">

  <div class="container-fluid py-5 text-center d-none d-md-block footer__advantages">
    <div class="row">
      <div class="col-4">Genuine leather</div>
      <div class="col-4">World wide express delivery</div>
    </div>
  </div>
  
  <div class="container-fluid">
    <hr/>
  </div>

  <div class="container-fluid d-none d-md-block footer__nav">
    <div class="row pt-4">
      <div class="col-3 col-lg-2">
        <ul>
          <li><a href="#">Customer Service</a></li>
          <li><a href="#">Delivery Information</a></li>
          <li><a href="#">Returns & Refunds</a></li>
          <li><a href="#">Product Care</a></li>
        </ul>
      </div>
      <div class="col-3 col-lg-2">
        <ul>
          <li><a href="#">New</a></li>
          <li><a href="#">Bags</a></li>
          <li><a href="#">Collections</a></li>
          <li><a href="#">Sales</a></li>
        </ul>
      </div>
      <div class="col-3 col-lg-2">
        <ul>
          <li><a href="#">Blog</a></li>
          <li><a href="#">About me</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid footer__copyright">
    <a href="#">
      <svg width="222" height="28">
        <use xlink:href="img/sprite.svg#carrot"></use>
      </svg>
    </a>
    <div class="footer__copyright-text">&copy; 2019 Kozhuhar. All rights are reserved.</div>
  </div>

</footer>
