<footer class="footer">

  <div class="container-fluid pt-5 d-block d-md-none">
    <hr/>
  </div>

  <div class="container-fluid pt-5 text-center footer__social">
    <a href="#">
        <svg width="11" height="23">
            <use xlink:href="img/sprite.svg#facebook"></use>
        </svg>
    </a>
    <a href="#">
        <svg width="20" height="20">
            <use xlink:href="img/sprite.svg#instagram"></use>
        </svg>
    </a>
  </div>

  <div class="container-fluid pt-4 text-center footer__subscribe">
    <span>Subscribe to get access to early sales and promotions</span>
    <form action="" class="mt-3">
      <input type="email" placeholder="email@domain.com"/>
      <input type="button" value="subscribe" class="button">
    </form>
  </div>

  <div class="container-fluid py-5 text-center d-none d-md-block footer__advantages">
    <div class="row">
      <div class="col-4">Genuine leather</div>
      <div class="col-4">World wide express delivery</div>
    </div>
  </div>

  <div class="container-fluid d-none d-md-block">
    <hr/>
  </div>

  <div class="container-fluid d-none d-md-block footer__nav">
    <div class="row pt-4">
      <div class="col-3 col-lg-2">
        <ul>
          <li><a href="#">Customer Service</a></li>
          <li><a href="#">Delivery Information</a></li>
          <li><a href="#">Returns & Refunds</a></li>
          <li><a href="#">Product Care</a></li>
        </ul>
      </div>
      <div class="col-3 col-lg-2">
        <ul>
          <li><a href="#">New</a></li>
          <li><a href="#">Bags</a></li>
          <li><a href="#">Collections</a></li>
          <li><a href="#">Sales</a></li>
        </ul>
      </div>
      <div class="col-3 col-lg-2">
        <ul>
          <li><a href="#">Blog</a></li>
          <li><a href="#">About me</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid footer__copyright">
    <a href="#">
      <svg width="222" height="28">
        <use xlink:href="img/sprite.svg#carrot"></use>
      </svg>
    </a>
    <div class="footer__copyright-text">&copy; 2019 Kozhuhar. All rights are reserved.</div>
  </div>

</footer>
