<header class="container-fluid">
    <div class="row">
        <div class="col-4 col-lg-2">
            <a href="main.html">
              <svg width="204" height="36" class="logo">
                <use xlink:href="img/sprite.svg#logo"></use>
              </svg>
            </a>
        </div>

        <div class="col-12 col-lg-10">

            <ul class="nav justify-content-end pb-0 pb-md-1 nav-sub">
                <li class="d-none d-md-block"><a href="#">SIGN IN / REGISTER</a></li>
                <li class="nav-sub__cart">
                  <a href="/cart.html">
                    <svg width="16" height="20">
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                    <div class="d-none d-md-inline-block">Cart</div> 0
                  </a>
                </li>
                <li class="d-none d-lg-block"><a class="inactive" href="#">UA</a> / <a href="#">ENG</a></li>
                <li class="d-lg-none">
                    <svg width="26" height="20" class="nav-sub__button js-burger">
                      <use xlink:href="img/sprite.svg#burger"></use>
                    </svg>
                    <svg width="26" height="20" class="d-none nav-sub__button js-burger">
                        <use xlink:href="img/sprite.svg#cross"></use>
                    </svg>
                </li>
            </ul>

            <ul class="d-none d-lg-flex nav justify-content-around nav-main js-menu">
                <li><a href="#">NEW</a></li>
                <li><a href="catalogue.html">BAGS</a></li>
                <li><a href="catalogue.html">ACCESSORIES</a></li>
                <li><a href="collections.html">COLLECTIONS</a></li>
                <li><a href="#">SALES</a></li>
                <li><a href="blog.html" class="active">BLOG</a></li>
                <li><a href="about.html">ABOUT ME</a></li>
                <li><a href="#">CONTACTS</a></li>
                <li class="d-lg-none"><a class="inactive" href="#">UA</a> / <a href="#">ENG</a></li>
            </ul>

        </div>

    </div>
</header>
