<nav aria-label="pagination">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a href="#" class="page-link" tabindex="-1">Prev</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link active" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a href="#" class="page-link">Next</a>
        </li>
    </ul>
</nav>